body {
    font-family: Oswald, sans-serif;
}

.navbar {
    background-color: #c470a7;
}

#header .nav .nav-link.active {
    background-color: #fff;
    color: #c470a7;
}

#header .nav .nav-link,
.navbar-brand,
.navbar-brand:hover,
.nav-cardapio .nav-link.active:hover {
    color: #fff;
}